$theme-color: #08cb98;

* {
  font-family: Arial monospace;
  box-sizing: border-box;
  font-size: 1rem;
}

html,body {
  height: 100%;
  margin: 0;
  border: none;
}

body {
  padding: 4px;
}

input {
  border: 1px solid #a0fcff;
}

input.ng-invalid.ng-dirty  {
  background-color: rgba(255, 0, 0, 0.18);
}

h1 {
  text-align: center;
  width: 100%;
}
.padded {
  padding: 5px;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center-text {
  text-align: center;
}

router-outlet+ng-component {
  @extend .vertical-layout;
  overflow-y: auto;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.align-items-center {
  align-items: center;
}

.scrollable {
  overflow-y: auto;
}

.layout-cell {
  display: flex;
}

.band {
  width: 100%;
  padding: 5px;
}

ul.list {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  & li {
    display: block;
    margin: 0;
    padding: 10px;
    border: 1px solid $theme-color;
    background-color: lighten($theme-color,40%);
  }
}

input, button {
  width: 100%;
  padding: 10px;
}



input {
  background-color: #f3f3f3;
  border: 1px solid lighten($theme-color,30%);
}


button {
  background-color: $theme-color;
  border: 1px solid darken($theme-color,10%);
}

button:active {
  background-color: lighten($theme-color,10%);
}

.header {
  background-color: lighten($theme-color,40%);
  padding: 20px;
  align-items: center;
  display: flex;
}

.btn-small, .input-small {
  width: auto;
  display: inline-block;
}

.input-small {
  max-width: 90px;
}
