

<div class="vertical-layout">
  <div class="band flex">
    Сьогодні {{now}}
  </div>
  <div class="band flex">
    Спожито білку &nbsp;<span>{{total}}</span> г
  </div>
  <div class="band flex flex1 scrollable">
    <ul class="list">
      <li *ngFor="let row of consumed">
        {{row.time}}: {{productById[row.productId]?.name || row.altName || 'без назви'}}
        <ng-container *ngIf="row.quantity!=-1">
          {{row.quantity}}
          {{measureById[productById[row.productId]?.measureId]?.name}}
        </ng-container>
        ({{row.proteins}} г білку)
      </li>
    </ul>
  </div>
  <div class="band flex">
    <button (click)="router.navigate(['/eat'])">З'їсти продукт</button>
  </div>
</div>



